@model IEnumerable<FinalProgamacion3.Models.Proveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    @using (Html.BeginForm())
    {
        <P>
            @Html.TextBox("query")
            <input type="submit" value="Buscar" />
        </P>
    }

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RNC_cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RNC_cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDProveedores }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDProveedores }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDProveedores })
            </td>
        </tr>
    }

</table>
