@model FinalProgamacion3.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDProductos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProductos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDStock }) |
    @Html.ActionLink("Back to List", "Index")
</p>
